@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #000;
    padding: 30px 20px;
}

.logo-img {
    width: 200px;
}

.menu {
    list-style: none;
    padding-left: 0;
}

.menu-item {
    color: #fff;
    text-transform: uppercase;
}

.auth-btn {
    color: #035491;
    border: 1px solid #035491;
    background: none;
    border-radius: 5px;
}

.introduction {
    background: #0008 url("../images/intro.jpg") fixed no-repeat center/cover;
    background-blend-mode: darken;
    padding: 50px 30px 40px;
}

.introduction-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 48px;
}

.btn {
    background-color: #035491;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 18px;
}

.about {
    padding: 50px 30px 40px;
}

.about-title {
    font-size: 48px;
}

.about-title span {
    color: #035491;
    display: block;
}

.achievements {
    background-color: #ebebeb;
    padding: 30px 40px 20px;
    border-radius: 3px;
    margin-top: 30px;
}

.achievements-total {
    font-size: 48px;
}

.achievement-link {
    color: #035491;
}

.achievements-details {
    margin: 20px 0;
}
/*############     FEEDBACK   ######### */
.feedback{
    background: #0008 url("../images/intro.jpg")fixed  no-repeat center/cover;
    background-blend-mode: darken;
    padding: 50px 30px 40px;
    color: #ffffff;
}
.form-group label{
    display: block;
}
.form-group{
    margin-bottom: 20px;
}
.form-input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
}
.feedback-btn {
    border: none;
}

/*############     FEEDBACK   ######### */
.test{
    opacity: 0.5;
}
.test:hover{
    opacity: 1;
}